* {
  box-sizing: border-box;
  font-family: sans-serif;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

caption {
  font-weight: 600;
}

caption,
th,
td {
  padding: 1px 4px;
  min-width: 30px;
  border: 1px solid black;
}

.c6-7 {
  color: #ff0000;
}
